body {
  margin: 0;
  background: black;
  font-family: sans-serif;
}

.camera-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画面いっぱいに表示 */
}

.controls {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  font-size: 18px;
  padding: 10px 20px;
}


/* body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
  background: black;
}

.camera-container {
  position: relative;
  /* display: inline-block;
  width: 100vx;
  height: 100vh;
  overflow: hidden;
  /* background: black;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: black;
}

#character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  opacity: 0.8; /* 透過度
  pointer-events: none;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 12px;
  /* margin: 10px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
}

#result {
  margin-top: 10px;
  max-width: 320px;
  border: 2px solid #ccc;
}